<div class="container-fluid bg-secondary position-fixed fixed-top">
    <div class="container-lg">
        <header class="d-flex justify-content-between">
            <a href="{{ path('home') }}" class="header-link text-decoration-none">
                <i class="bi bi-bicycle me-2"></i> Cycle Europe
            </a>
            {#<a class="header-link text-decoration-none" href="{{ path('about') }}">About</a>#}
        </header>
    </div>
</div>