{% extends 'base.html.twig' %}

{% block metaProperties %}
    {% include 'components/layout/meta-properties.html.twig' with {
        title: 'Cycle Europe | ' ~ tour.title,
        description:  'Radreise ' ~ tour.title ~ ': ' ~ tour.subtitle,
        image: tour.poster? : 'bike/cycle-europe.png'
    } %}
{% endblock %}

{% set images = tourImages(tour) %}

{% block main %}
    {% include 'components/tour/header.html.twig' with {
        tour: tour,
        gpxTracks: gpxTracks
    } only %}

    {% if images | default %}
        <div class="bg-tertiary pt-1 mb-4">
            <div class="container-fluid container-lg">
                <h2 class="pb-1 m-0">
                    <span class="text-white ps-1 pe-1">Bilder</span>
                </h2>
            </div>
        </div>

        {% include 'components/tour/image-gallery.html.twig' with {
            images: images,
            title: tour.title
        } only %}
    {% endif %}
{% endblock %}
